<section id="meet-team">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">Нашият екип</h2>
      <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
          <div class="team-img">
            <img class="img-responsive" src="images/team/01.jpg" alt="">
          </div>
          <div class="team-info">
            <h3>Име</h3>
            <span>Позиция</span>
          </div>
          <p>...</p>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
          <div class="team-img">
            <img class="img-responsive" src="images/team/02.jpg" alt="">
          </div>
          <div class="team-info">
            <h3>Име</h3>
            <span>Позиция</span>
          </div>
          <p>...</p>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="col-sm-12">
      <h3 class="column-title">Нашата история</h3>
      <div role="tabpanel">
        <ul class="nav main-tab nav-justified" role="tablist">
          <li role="presentation" class="active">
            <a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1" aria-expanded="true">2004 - 2009</a>
          </li>
          <li role="presentation">
            <a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2" aria-expanded="false">2009 - 2013</a>
          </li>
          <li role="presentation">
            <a href="#tab3" role="tab" data-toggle="tab" aria-controls="tab3" aria-expanded="false">2013 - 2015</a>
          </li>
          <li role="presentation">
            <a href="#tab4" role="tab" data-toggle="tab" aria-controls="tab4" aria-expanded="false">2015 - 2017</a>
          </li>
        </ul>
        <div id="tab-content" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="tab1" aria-labelledby="tab1">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="tab2">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledby="tab3">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab4" aria-labelledby="tab3">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
