<section id="get-in-touch">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">Свържете се с нас</h2>
      <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
  </div>
</section>
<section id="contact">
  <div id="google-map" style="height:650px" data-latitude="42.693302" data-longitude="23.323356"></div>
  <div class="container-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
          <div class="contact-form">
            <h3>За контакти</h3>
            <address>
              <strong>Местоположение:</strong><br>
              София - 1000, ул. "Граф Игнатиев" &#8470;9, вх. Б<br>
              България<br>
              <abbr title="Phone">Тел.:</abbr> 02 123456789
            </address>
            <div id="main-contact-form" name="contact-form" method="post"
                 action="sendemail.php">
              <div class="form-group">
                <input name="name" class="form-control"
                       placeholder="Name" required="" type="text">
              </div>
              <div class="form-group">
                <input name="email" class="form-control"
                       placeholder="E-mail" required="" type="email">
              </div>
              <div class="form-group">
                <input name="subject" class="form-control"
                       placeholder="Subject" required="" type="text">
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control"
                          rows="8" placeholder="Message" required=""></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
