<section id="homepage">
  <div class="container">
    <div class="text-center">
      <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
        <span>EUROSYS</span>
      </h2>
        <!--<span>EUROSYS</span> - софтуерна фирма, разработваща специализиран продукт, насочен към дейността на
        инвестиционни посредници, управляващи дружества и управляваните от тях колективни инвестиционни схеми.</h2-->
      <h3 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
        Софтуерна фирма, разработваща специализирани продукти, насочен към дейността на
        инвестиционни посредници, управляващи дружества и кредитни институции
      </h3>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">За нас</h2>
      <div class="row">
        <img src="../../../../assets/images/eurosys_logo.jpg" class="col-md-6"/>
        <div class="col-md-6">
          <p class="wow fadeInDown">
            Много инвестиционни посредници, управляващи дружества и кредитни институции имат проблем с обработката на
            информацията по инвестиционни схеми. Затова ние от Eurosys разработихме и подържаме различни
            софтуерни продукти повече от 20 години. Те има за цел да помогнат и улеснят дейността
            на различните дружества в процесите по съхранение и обработката на информация.
            Резултатът за клиента е стуктурирана ......
            Също така, нашите продукти са интегрирани спрямо нуждите и особенностите на клиентите ни.
            По този начин ние улесняваме потребителите най-много, предлагайки лесни и удобни за ползване продукти.<br />
            Ние вярваме, че времето е най-важно. Затова винаги сме готови да отделим време и да помогнем на
            клиент в даден монент, за да намерим най-доброто решение на проблема заедно. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!--/#about-->

<section id="portfolio">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">Портфолио</h2>
      <p class="text-center wow fadeInDown">
        Нашите продукти са се доказали успешно в реална среда с реални данни, като работят повече от 20 години.
      </p>
    </div>
  </div><!--/.container-->
</section><!--/#portfolio-->
